.row{
	width: 100%;

}
.archivo{
 margin: 0 auto;
   width: 33%;
   border-radius: 2px;

}
.container{
	padding-left: 25%;
	color: black;
}
.formulario
{
width: 65%;
margin-left: 60%;
}
.row .label{
	margin-top: 0px;
}
.label .cabezera{

	color: #313b72 !important;
	font-size: 30px !important;
 	font-weight: bold;
 }

.cabezera{
	margin-right: 0px;
	width: 100%;
}
.btn{
	background-color: #003348;
}
.btn:hover{
	background-color: #00658F;
}

 .texto{
text-align: right;

}
 .texto .cabezera{

 	color: #313b72 !important;
	font-size: 30px !important;
 	font-weight: bold;
	
 }

 .row .col.l10.texto{
 	padding-right: 120px !important;
 }

.txtselect .letra{
font-size: 16px;
color: #313b72;
font-weight: bold;
 }

.row.textos{
	padding-left: 15%;
}
.text .letra{
font-size: 23px;
color: #313b72;
font-weight: bold;
 }
.row.btnagregar{
	/*background-color: black;*/
text-align: center;

}
.row.btneliminar
{
padding-left: 83%;
}
.row.selectores{
	padding-left: 15%;
}
.row .col.l12.text{
	font-size: 16px;
color: #313b72;
font-weight: bold;
}
.card.general{
	background-color: #cddfe9;
}
 .cabezera .regresar{
 	width: 40%;
 	text-align:right;
 }

div.formulario{
	padding-top: 3%;
padding-left: 5%;
border-radius:10px;
background-color: #E6E6E6;
} 
img{
	max-width: 60%;
	
}
.input-field{
	font-size: 12px;
}

#Tabla{
	font-size: 12px;
}
td,th{

	border: 0.5px solid #0e777d;
	text-align: center;

}
th
{
	color: white;
	background-color: #00658f ;
}
.espacio
{
	height: 20px;
	background-color: red;
}

.Tabla .cellEditing input[type=text]{
    width:100%;
    border:0;
    background-color:rgb(255,253,210);  
}

td label{
	font-size: 15px;
}

.dataTables_length label{

	font-size: 16px;
}
.caja
{
padding:2%;	
}

.logo img{
	padding-top: 5px;
}
.barra{background-color:#00658f;
 }
 .boton{
 	background-color: #00658f !important ;
	
 }
.collection a.collection-item{
 	color:white;
 	font-size: 12px;
 	font-weight: bold;
 }
 a:hover
 {
 	background-color: #2991bc !important ;
 }
 .tableDatos tbody tr:hover{
    background-color:#eef7f8;
}
.tableDatos tbody tr.odd{
    background-color:#eaf9fa;
}
.tableDatos tbody tr.even{
    background-color: #b2e1e5;
}
.collection{
	text-align: center;
}

label.filtrado{
font-size: 16px;
color: #313b72;
font-weight: bold;
}

